@{
    ViewData["Title"] = "Detail Page";
}

<div>
    <h2>Restaurant Name</h2>
    <div class="row mt-3">
        <div class="col-12 col-md-8">
            <div class="image-container">
                <img class="cover-img" src="~/img/cover photo.png" alt="Restaurant_Cover" />
            </div>

            <div class="mt-5">
                <!-- Nav -->
                <div class="text-center">
                    <ul class="nav nav-segment nav-pills mb-7" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="nav-one-eg1-tab" href="#nav-one-eg1" data-bs-toggle="pill" data-bs-target="#nav-one-eg1" role="tab" aria-controls="nav-one-eg1" aria-selected="true">MENU</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="nav-two-eg1-tab" href="#nav-two-eg1" data-bs-toggle="pill" data-bs-target="#nav-two-eg1" role="tab" aria-controls="nav-two-eg1" aria-selected="false">ABOUT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="nav-three-eg1-tab" href="#nav-three-eg1" data-bs-toggle="pill" data-bs-target="#nav-three-eg1" role="tab" aria-controls="nav-three-eg1" aria-selected="false">REVIEWS</a>
                        </li>
                    </ul>
                </div>
                <!-- End Nav -->
                <!-- Tab Content -->
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="nav-one-eg1" role="tabpanel" aria-labelledby="nav-one-eg1-tab">
                        <!-- Start Menu List -->
                        <div class="d-flex flex-row justify-content-between align-items-center mb-3">
                            <div class="d-flex flex-row align-items-center">
                                <span class="avatar avatar-lg avatar-4x3 me-3">
                                    <img class="avatar-img" src="../assets/img/documentation/img1.jpg" alt="Image Description">
                                </span>
                                <h5>Menu Name</h5>
                            </div>
                            20000 MMK
                        </div>
                        <!-- End Menu List -->
                        <!-- Start Menu List -->
                        <div class="d-flex flex-row justify-content-between align-items-center mb-3">
                            <div class="d-flex flex-row align-items-center">
                                <span class="avatar avatar-lg avatar-4x3 me-3">
                                    <img class="avatar-img" src="../assets/img/documentation/img1.jpg" alt="Image Description">
                                </span>
                                <h5>Menu Name</h5>
                            </div>
                            20000 MMK
                        </div>
                        <!-- End Menu List -->
                        <button type="button" class="btn btn-border">
                            See more
                            <i class="bi-arrow-right-short ms-1"></i>
                        </button>
                    </div>

                    <div class="tab-pane fade" id="nav-two-eg1" role="tabpanel" aria-labelledby="nav-two-eg1-tab">
                        <h4>Address</h4>
                        <p>Second tab content...</p>
                        <h4>Phone</h4>
                        <p>Second tab content...</p>
                        <h4>Opening Time</h4>
                        <p>Second tab content...</p>
                        <h4>About</h4>
                        <p>Second tab content...</p>
                    </div>

                    <div class="tab-pane fade" id="nav-three-eg1" role="tabpanel" aria-labelledby="nav-three-eg1-tab">
                        <!-- Content -->
                        <div class="container content-space-1">
                            <div class="mb-4">
                                <h3>Your Review</h3>
                                <form>
                                    <div class="mb-3">
                                        <label class="form-label" for="exampleFormControlTextarea1">Give a rating</label>
                                        <div class="row">
                                            <div class="col-sm mb-2">
                                                <!-- Form Radio -->
                                                <label class="form-control" for="formControlRadioEg1">
                                                    <span class="form-check">
                                                        <input type="radio" class="form-check-input" name="formControlRadioEg" id="formControlRadioEg1">
                                                        <span class="form-check-label">Bad</span>
                                                    </span>
                                                </label>
                                                <!-- End Form Radio -->
                                            </div>

                                            <div class="col-sm mb-2">
                                                <!-- Form Radio -->
                                                <label class="form-control" for="formControlRadioEg2">
                                                    <span class="form-check">
                                                        <input type="radio" class="form-check-input" name="formControlRadioEg" id="formControlRadioEg2">
                                                        <span class="form-check-label">Fair</span>
                                                    </span>
                                                </label>
                                                <!-- End Form Radio -->
                                            </div>

                                            <div class="col-sm mb-2">
                                                <!-- Form Radio -->
                                                <label class="form-control" for="formControlRadioEg3">
                                                    <span class="form-check">
                                                        <input type="radio" class="form-check-input" name="formControlRadioEg" id="formControlRadioEg3">
                                                        <span class="form-check-label">Regular</span>
                                                    </span>
                                                </label>
                                                <!-- End Form Radio -->
                                            </div>
                                            <div class="col-sm mb-2">
                                                <!-- Form Radio -->
                                                <label class="form-control" for="formControlRadioEg4">
                                                    <span class="form-check">
                                                        <input type="radio" class="form-check-input" name="formControlRadioEg" id="formControlRadioEg4">
                                                        <span class="form-check-label">Good</span>
                                                    </span>
                                                </label>
                                                <!-- End Form Radio -->
                                            </div>
                                            <div class="col-sm mb-2">
                                                <!-- Form Radio -->
                                                <label class="form-control" for="formControlRadioEg5">
                                                    <span class="form-check">
                                                        <input type="radio" class="form-check-input" name="formControlRadioEg" id="formControlRadioEg5">
                                                        <span class="form-check-label">Best</span>
                                                    </span>
                                                </label>
                                                <!-- End Form Radio -->
                                            </div>
                                        </div>
                                        <!-- End Row -->

                                        <label class="form-label" for="exampleFormControlTextarea1">Write a review</label>
                                        <textarea id="exampleFormControlTextarea1" class="form-control" placeholder="Review about the restaurant" rows="4"></textarea>
                                    </div>
                                    <div class="d-flex justify-content-end">
                                        <button type="submit" class="btn btn-primary">Send</button>
                                    </div>
                                </form>
                            </div>
                            <!-- Heading -->
                            <div class="border-bottom pb-4 mb-4">
                                <div class="row align-items-center">
                                    <div class="col-sm-6 mb-2 mb-sm-0">
                                        <h3 class="mb-0">Reviews</h3>
                                    </div>
                                    <!-- End Col -->
                                    <!-- End Col -->
                                </div>
                                <!-- End Row -->
                            </div>
                            <!-- End Heading -->
                            <!-- Comment -->
                            <ul class="list-comment list-comment-divider mb-7">
                                <!-- Item -->
                                <li class="list-comment-item">
                                    <div class="d-flex gap-1 mb-3">
                                        <img src="../assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                                        <img src="../assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                                        <img src="../assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                                        <img src="../assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                                        <img src="../assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                                    </div>

                                    <!-- Media -->
                                    <div class="d-flex align-items-center mb-3">
                                        <div class="flex-shrink-0">
                                            <img class="avatar avatar-sm avatar-circle" src="../assets/img/160x160/img3.jpg" alt="Image Description">
                                        </div>

                                        <div class="flex-grow-1 ms-3">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <h5 class="mb-0">Dave Austin</h5>
                                                <span class="d-block small text-muted">April 3, 2019</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Media -->

                                    <div class="mb-5">
                                        <p>This course helped me in learning python in a very simple and effective way & boosts up my confidence. Concepts have been explained in a crystal clear way.</p>
                                    </div>

                                </li>
                                <!-- End Item -->
                                <!-- Item -->
                                <li class="list-comment-item">
                                    <div class="d-flex gap-1 mb-3">
                                        <img src="../assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                                        <img src="../assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                                        <img src="../assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                                        <img src="../assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                                        <img src="../assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                                    </div>

                                    <!-- Media -->
                                    <div class="d-flex align-items-center mb-3">
                                        <div class="flex-shrink-0">
                                            <img class="avatar avatar-sm avatar-circle" src="../assets/img/160x160/img1.jpg" alt="Image Description">
                                        </div>

                                        <div class="flex-grow-1 ms-3">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <h5 class="mb-0">Hailey</h5>
                                                <span class="d-block small text-muted">January 19, 2019</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Media -->

                                    <div class="mb-5">
                                        <p>HUUUUUUUUUUUGE fan of Emily Milda</p>
                                        <p>Master of Python, I took other classes also. I was very impressed, a very good teacher, in detail explanations, easy to understand. I owe him many thanks and hopefully. THAAAANK YOUU!</p>
                                    </div>

                                   
                                </li>
                                <!-- End Item -->
                                <!-- Item -->
                                <li class="list-comment-item">
                                    <div class="d-flex gap-1 mb-3">
                                        <img src="../assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                                        <img src="../assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                                        <img src="../assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                                        <img src="../assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                                        <img src="../assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                                    </div>

                                    <!-- Media -->
                                    <div class="d-flex align-items-center mb-3">
                                        <div class="flex-shrink-0">
                                            <img class="avatar avatar-sm avatar-circle" src="../assets/img/160x160/img8.jpg" alt="Image Description">
                                        </div>

                                        <div class="flex-grow-1 ms-3">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <h5 class="mb-0">Chrizelle</h5>
                                                <span class="d-block small text-muted">December 21, 2018</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Media -->

                                    <div class="mb-5">
                                        <p>Section 19 needs to be addressed. the 1st topic in the section tells us it is optional and can be skipped. this is not true and your instructions tell us to contact udemy support if there is an issue. we did and they told us to contact you.</p>
                                    </div>

                                    
                                </li>
                                <!-- End Item -->
                            </ul>
                            <!-- End Comment -->

                            <div class="text-center">
                                <a class="btn btn-outline-primary btn-transition" href="#">See all reviews</a>
                            </div>
                        </div>
                        <!-- End Content -->
                    </div>
                </div>
                <!-- End Tab Content -->
            </div>
           
        </div>
        <div class="col-12 col-md-4">
            <h3>Reservation Information</h3>
            <form>
                <div class="mb-3 pointer">
                    <label class="form-label" for="Date">Date</label>
                    <input type="date" id="Date" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="Person">Number of Person</label>
                    <input type="number" id="Person" class="form-control" min="1" max="10" placeholder="1-10 people at one time." required>
                </div>
                <div class="row">
                    <label class="form-label" for="Date">Time</label>
                    <div class="col-sm mb-2">
                        <!-- Form Radio -->
                        <label class="form-control" for="formControlRadioEg1">
                            <span class="form-check">
                                <input type="radio" class="form-check-input" name="formControlRadioEg" id="formControlRadioEg1">
                                <span class="form-check-label">Checked</span>
                            </span>
                        </label>
                        <!-- End Form Radio -->
                    </div>

                    <div class="col-sm mb-2">
                        <!-- Form Radio -->
                        <label class="form-control" for="formControlRadioEg2">
                            <span class="form-check">
                                <input type="radio" class="form-check-input" name="formControlRadioEg" id="formControlRadioEg2">
                                <span class="form-check-label">Unchecked</span>
                            </span>
                        </label>
                        <!-- End Form Radio -->
                    </div>

                    <div class="col-sm mb-2">
                        <!-- Form Radio -->
                        <label class="form-control" for="formControlRadioEg3">
                            <span class="form-check">
                                <input type="radio" class="form-check-input" name="formControlRadioEg" id="formControlRadioEg3">
                                <span class="form-check-label">Disabled</span>
                            </span>
                        </label>
                        <!-- End Form Radio -->
                    </div>
                    <div class="col-sm mb-2">
                        <!-- Form Radio -->
                        <label class="form-control" for="formControlRadioEg3">
                            <span class="form-check">
                                <input type="radio" class="form-check-input" name="formControlRadioEg" id="formControlRadioEg3">
                                <span class="form-check-label">Disabled</span>
                            </span>
                        </label>
                        <!-- End Form Radio -->
                    </div>
                </div>
                <!-- End Row -->
                <div class="mb-3">
                    
                    <input type="text" id="Name" class="form-control" placeholder="Name" required> 
                </div>
                <div class="mb-3">
                    
                    <input type="text" id="Email" class="form-control" placeholder="Email" required>
                </div>
                <div class="mb-3">
                    
                    <input type="text" id="Phone" class="form-control" placeholder="Phone" required>
                </div>

                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary">Review Reserve</button>
                </div>
            </form>
        </div>
    </div>
</div>