<div id="div_reviews">
    <div class="container content-space-1">
        <div id="div-ratingNreview-form">
            
        </div>
        
        <div id="div-ratingNreview-list">
           
        </div>

    </div>
</div>