<div id="div_reviews">
    <div class="container content-space-1">
        <div id="div-ratingNreview-form">
            <div class="mb-4">
                <h3>Your Review</h3>
                <form>
                    <div class="mb-3">
                        <label class="form-label" for="exampleFormControlTextarea1">Give a rating</label>
                        <div class="row">
                            <div class="col-sm mb-2">
                                <!-- Form Radio -->
                                <label class="form-control" for="formControlRadioEg1">
                                    <span class="form-check">
                                        <input type="radio" class="form-check-input" name="formControlRadioEg" id="formControlRadioEg1">
                                        <span class="form-check-label">Bad</span>
                                    </span>
                                </label>
                                <!-- End Form Radio -->
                            </div>

                            <div class="col-sm mb-2">
                                <!-- Form Radio -->
                                <label class="form-control" for="formControlRadioEg2">
                                    <span class="form-check">
                                        <input type="radio" class="form-check-input" name="formControlRadioEg" id="formControlRadioEg2">
                                        <span class="form-check-label">Fair</span>
                                    </span>
                                </label>
                                <!-- End Form Radio -->
                            </div>

                            <div class="col-sm mb-2">
                                <!-- Form Radio -->
                                <label class="form-control" for="formControlRadioEg3">
                                    <span class="form-check">
                                        <input type="radio" class="form-check-input" name="formControlRadioEg" id="formControlRadioEg3">
                                        <span class="form-check-label">Regular</span>
                                    </span>
                                </label>
                                <!-- End Form Radio -->
                            </div>
                            <div class="col-sm mb-2">
                                <!-- Form Radio -->
                                <label class="form-control" for="formControlRadioEg4">
                                    <span class="form-check">
                                        <input type="radio" class="form-check-input" name="formControlRadioEg" id="formControlRadioEg4">
                                        <span class="form-check-label">Good</span>
                                    </span>
                                </label>
                                <!-- End Form Radio -->
                            </div>
                            <div class="col-sm mb-2">
                                <!-- Form Radio -->
                                <label class="form-control" for="formControlRadioEg5">
                                    <span class="form-check">
                                        <input type="radio" class="form-check-input" name="formControlRadioEg" id="formControlRadioEg5">
                                        <span class="form-check-label">Best</span>
                                    </span>
                                </label>
                                <!-- End Form Radio -->
                            </div>
                        </div>
                        <!-- End Row -->

                        <label class="form-label" for="exampleFormControlTextarea1">Write a review</label>
                        <textarea id="exampleFormControlTextarea1" class="form-control" placeholder="Review about the restaurant" rows="4"></textarea>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary">Send</button>
                    </div>
                </form>
            </div>
        </div>
        
        <div id="div-ratingNreview-list">
           
        </div>

    </div>
</div>