@using Data.Constants
@{
    ViewData["Title"] = "My Bookings";
}

<div class="row mt-5">
    <h2>My Bookings</h2>
    <div id="div-customer-bookings">

    </div>
</div>

<!-- Modal -->
<div id="bookingCancelModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="bookingCancelModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Booking Cancellation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure to cancel this booking?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="ConfirmCancelBooking()">Yes, Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- End Modal -->
@section scripts{
   <script type="text/javascript">
        var page = 1;
        var pagesize = 10;
        var q;
       var bookingId = 0;
        $(function () {
            $('.nav-link').removeClass('active');
            $('#li_cus_bookings').addClass('active');


            initPaging();
            LoadMainList();
        });

        function initPaging() {
            $("#div-customer-bookings").on("click", ".pagination-bx a", function (e) {
                e.preventDefault();
                var $a = $(this).attr("href");
                try {
                    var pageurl = $a.split(/=/);
                    page = pageurl[1];
                    if (page == null) {
                        page = 1;
                    }
                }
                catch (e) {
                    page = 1;
                }
                LoadMainList();
            });
        }

        

        function LoadMainList() {

            $.ajax({
                cache: false,
                url: '@Url.Action("GetList", "Booking")',
                data: {
                    userType:'@UserType.Customer', page: page, pageSize: pagesize, q: q
                },
                beforeSend: function () {
                    $('#div-customer-bookings').empty().append('<div class="loading text-center"><div class= "spinner-border" role = "status"></div><div class= "text-muted" > loading...</div></div>');

                },
                success: function (data) {
                    
                    $('#div-customer-bookings').empty().append(data);
                    $(".pagination li").addClass("page-item");
                    $(".pagination span").addClass("page-link");
                    $(".pagination a").addClass("page-link");


                },
                complete: function () {

                }

            });
        }

        function CancelBooking(e){

            bookingId = $(e).attr('data-id');
            $('#bookingCancelModal').modal('show'); // Show the confirm modal
        }

       function ConfirmCancelBooking() {
            $.ajax({
                cache: false,
                url: '@Url.Action("CancelBooking", "Booking")',
                data: {
                    bookingId : bookingId
                },
                beforeSend: function () {
                    $('.btn').prop("disabled", true);
                },
                success: function (data) {
                    console.log("data:", data);
                    if (data?.Status == "@ResponseStatus.Success") {
                        $('#bookingCancelModal').modal('hide');
                        alert("Success!!");
                        LoadMainList();
                    }
                    else {
                        alert("Adding menu failed!!")
                    }

                },
                complete: function () {
                    $('.btn').prop("disabled", false);
                }

            });
       }

    </script>
}