@{
    ViewData["Title"] = "My Bookings";
}

<div class="row mt-5">
    <!-- My Booking List Start -->
    <div class="d-flex align-items-center border p-3 gap-3 rounded mb-3">
        <div class="restaurant-photo">
            <img class="img-fluid" src="~/img/cover photo.png" alt="Image" />
        </div>
        <div class="d-flex flex-column gap-2 w-100">
            <div class="d-flex justify-content-between align-items-center">
                <h4>Restaurant Name</h4>
                @* <span class="badge bg-soft-secondary text-secondary">Finished</span> *@
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex flex-row gap-3">
                    <span class="badge bg-soft-primary text-primary">23 Sep 2024</span>
                    <span class="badge bg-soft-primary text-primary">1:00 PM</span>
                    <span class="badge bg-soft-primary text-primary">3 person(s)</span>
                </div>
                <div class="d-flex gap-3">
                    <span>Johnnathan</span>
                    <span>johnnathan@gmail.com</span>
                    <span>09876543212</span>
                </div>
            </div>

        </div>
    </div>
    <!-- My Booking List End -->
    <!-- My Booking List Start -->
    <div class="d-flex align-items-center border p-3 gap-3 rounded mb-3">
        <div class="restaurant-photo">
            <img class="img-fluid" src="~/img/cover photo.png" alt="Image" />
        </div>
        <div class="d-flex flex-column gap-2 w-100">
            <div class="d-flex justify-content-between align-items-center">
                <h4>Restaurant Name</h4>
                <span class="badge bg-soft-secondary text-secondary">Finished</span>
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex flex-row gap-3">
                    <span class="badge bg-soft-primary text-primary">23 Sep 2024</span>
                    <span class="badge bg-soft-primary text-primary">1:00 PM</span>
                    <span class="badge bg-soft-primary text-primary">3 person(s)</span>
                </div>
                <div class="d-flex gap-3">
                    <span>Johnnathan</span>
                    <span>johnnathan@gmail.com</span>
                    <span>09876543212</span>
                </div>
            </div>

        </div>
    </div>
    <!-- My Booking List End -->
</div>