@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">

    <div class="d-flex flex-column justify-content-center align-items-center background-img w-100 vh-30">
        <div class="w-50 gap-3">
            <img src="~/img/tabletalk-letter.png" style="width: 218px; height: 35px;" />
            <h3 class="text-white my-3">Restaurant Reservation</h3>
            <form action="">
                <div class="input-card input-card-sm">
                    <div class="input-card-form">
                        <input type="text" class="form-control form-control-md" placeholder="Restaurant name..." aria-label="Restaurant name">
                    </div>
                    <button type="button" class="btn btn-primary btn-sm">Search</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Popular Restaurants -->

<div class="row contant-space-1 mt-5">
    <div class="d-flex justify-content-between">
        <h2 class="m-0" style="line-height: 1.5;">Popular Restaurants</h2>
        <button type="button" class="btn btn-ghost btn-sm">
            View all
            <i class="bi-arrow-right-short ms-1"></i>
        </button>
    </div>
    <!-- Card Grid -->
    <div class="container mt-5">

        <div class="row mb-5 mb-sm-5">
            <div class="col-md-4 mb-3 mb-md-5 h-100">
                <!-- Card -->
                <a class="card card-transition" href="#" data-aos="fade-up">
                    <div class="card-pinned">
                        <img class="card-img-top" src="../assets/svg/components/card-7.svg" alt="Image Description">

                        <span class="card-pinned-top-start">
                            <span class="badge bg-primary rounded-pill">4.5</span>
                        </span>
                    </div>

                    <div class="p-3">
                        <h3 class="card-title text-inherit">Restaurant Name</h3>
                        <p class="card-text text-body" style="height:45px; overflow: hidden;">4517 Washington Ave. Manchester, Kentucky 39495 </p>
                    </div>

                    <div class="card-footer p-3">
                        <span class="card-link"><i class="bi-people small me-2"></i>14 seats available </span>
                    </div>
                </a>
                <!-- End Card -->
            </div>
            <!-- End Col -->

            <div class="col-md mb-4 mb-md-5 h-100">
                <!-- Card -->
                <a class="card card-transition" href="#" data-aos="fade-up" data-aos-delay="150">
                    <div class="card-pinned">
                        <img class="card-img-top" src="../assets/svg/components/card-8.svg" alt="Image Description">

                        <span class="card-pinned-top-start">
                            <span class="badge bg-primary rounded-pill">$99</span>
                        </span>
                    </div>

                    <div class="p-3">
                        <h3 class="card-title text-inherit">Charts in design</h3>
                        <p class="card-text text-body" style="height:45px; overflow: hidden;">Learn the best ways to create and use charts and data content in web applications.</p>
                    </div>

                    <div class="card-footer p-3">
                        <span class="card-link"><i class="bi-people small me-2"></i>14 seats available </span>
                    </div>
                </a>
                <!-- End Card -->
            </div>
            <!-- End Col -->

            <div class="col-md mb-4 mb-md-5 h-100">
                <!-- Card -->
                <a class="card card-transition" href="#" data-aos="fade-up" data-aos-delay="200">
                    <div class="card-pinned">
                        <img class="card-img-top" src="../assets/svg/components/card-9.svg" alt="Image Description">

                        <span class="card-pinned-top-start">
                            <span class="badge bg-primary rounded-pill">Free</span>
                        </span>
                    </div>

                    <div class="p-3">
                        <h3 class="card-title text-inherit">Layer shadows</h3>
                        <p class="card-text text-body" style="height:45px; overflow: hidden;">Best tips and guidelines how to use shadows with layers.</p>
                    </div>

                    <div class="card-footer p-3">
                        <span class="card-link"><i class="bi-people small me-2"></i>14 seats available </span>
                    </div>
                </a>
                <!-- End Card -->
            </div>
            <!-- End Col -->
        </div>
        <!-- End Row -->

    </div>
    <!-- End Card Grid -->
</div>

<!-- End Popular Restaurants -->
<!-- New Restaurants -->
<div class="row contant-space-1">
    <div class="d-flex justify-content-between">
        <h2 class="m-0" style="line-height: 1.5;">New Restaurants</h2>
        <button type="button" class="btn btn-ghost btn-sm">
            View all
            <i class="bi-arrow-right-short ms-1"></i>
        </button>
    </div>
    <!-- Card Grid -->
    <div class="container mt-5">

        <div class="row mb-5 mb-sm-5">
            <div class="col-md-4 mb-3 mb-md-5 h-100">
                <!-- Card -->
                <a class="card card-transition" href="#" data-aos="fade-up">
                    <div class="card-pinned">
                        <img class="card-img-top" src="../assets/svg/components/card-7.svg" alt="Image Description">

                        <span class="card-pinned-top-start">
                            <span class="badge bg-primary rounded-pill">4.5</span>
                        </span>
                    </div>

                    <div class="p-3">
                        <h3 class="card-title text-inherit">Restaurant Name</h3>
                        <p class="card-text text-body" style="height:45px; overflow: hidden;">4517 Washington Ave. Manchester, Kentucky 39495 </p>
                    </div>

                    <div class="card-footer p-3">
                        <span class="card-link"><i class="bi-people small me-2"></i>14 seats available </span>
                    </div>
                </a>
                <!-- End Card -->
            </div>
            <!-- End Col -->

            <div class="col-md mb-4 mb-md-5 h-100">
                <!-- Card -->
                <a class="card card-transition" href="#" data-aos="fade-up" data-aos-delay="150">
                    <div class="card-pinned">
                        <img class="card-img-top" src="../assets/svg/components/card-8.svg" alt="Image Description">

                        <span class="card-pinned-top-start">
                            <span class="badge bg-primary rounded-pill">$99</span>
                        </span>
                    </div>

                    <div class="p-3">
                        <h3 class="card-title text-inherit">Charts in design</h3>
                        <p class="card-text text-body" style="height:45px; overflow: hidden;">Learn the best ways to create and use charts and data content in web applications.</p>
                    </div>

                    <div class="card-footer p-3">
                        <span class="card-link"><i class="bi-people small me-2"></i>14 seats available </span>
                    </div>
                </a>
                <!-- End Card -->
            </div>
            <!-- End Col -->

            <div class="col-md mb-4 mb-md-5 h-100">
                <!-- Card -->
                <a class="card card-transition" href="#" data-aos="fade-up" data-aos-delay="200">
                    <div class="card-pinned">
                        <img class="card-img-top" src="../assets/svg/components/card-9.svg" alt="Image Description">

                        <span class="card-pinned-top-start">
                            <span class="badge bg-primary rounded-pill">Free</span>
                        </span>
                    </div>

                    <div class="p-3">
                        <h3 class="card-title text-inherit">Layer shadows</h3>
                        <p class="card-text text-body" style="height:45px; overflow: hidden;">Best tips and guidelines how to use shadows with layers.</p>
                    </div>

                    <div class="card-footer p-3">
                        <span class="card-link"><i class="bi-people small me-2"></i>14 seats available </span>
                    </div>
                </a>
                <!-- End Card -->
            </div>
            <!-- End Col -->
        </div>
        <!-- End Row -->

    </div>
    <!-- End Card Grid -->
</div>
<!-- End New Restaurants -->
@section scripts{
   
}