@using Data.Constants
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">

    <div class="d-flex flex-column justify-content-center align-items-center background-img w-100 vh-30">
        <div class="w-50 gap-3">
            <img src="~/img/tabletalk-letter.png" style="width: 218px; height: 35px;" />
            <h3 class="text-white my-3">Restaurant Reservation</h3>
            <form action="">
                <div class="input-card input-card-sm">
                    <div class="input-card-form">
                        <input type="text" class="form-control form-control-md" placeholder="Restaurant name..." aria-label="Restaurant name" id="txt_name">
                    </div>
                    <button type="button" class="btn btn-primary btn-sm">Search</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row contant-space-1 mt-5" id="title" hidden>
    <h2 class="m-0" style="line-height: 1.5;">Popular Restaurants</h2>
</div>
<div id="div_restaurants">
    <!-- Popular Restaurants -->

    <div class="row contant-space-1 mt-5">
        <div class="d-flex justify-content-between">
            <h2 class="m-0" style="line-height: 1.5;">Most Popular Restaurants</h2>
            <button type="button" class="btn btn-ghost btn-sm" onclick="ViewAllPopularRestaurants()">
                View all
                <i class="bi-arrow-right-short ms-1"></i>
            </button>
        </div>
        <div id="div_popular_restaurants">

        </div>
    
    </div>

    <!-- End Popular Restaurants -->
    <!-- New Restaurants -->
    <div class="row contant-space-1">
        <div class="d-flex justify-content-between">
            <h2 class="m-0" style="line-height: 1.5;">Newest Restaurants</h2>
            <button type="button" class="btn btn-ghost btn-sm" onclick="ViewAllNewRestaurants()">
                View all
                <i class="bi-arrow-right-short ms-1"></i>
            </button>
        </div>
        <div id="div_new_restaurants">

        </div>

    </div>
    <!-- End New Restaurants -->
</div>




@section scripts{
   <script type="text/javascript">

        var page = 1;
        var pagesize = 9;
        var q;

        $(function () {
            LoadMostPopularRestaurants();
            LoadNewestRestaurants();

            initPaging();
        });




        let input = document.getElementById('txt_name');
        let timeout = null;

        input.addEventListener('keyup', function (e) {
            clearTimeout(timeout);

            timeout = setTimeout(function () {
                Search();
            }, 1000);
        });


        function Search() {

            q = $('#txt_name').val().trim();
            page = 1;
            LoadMainList();

        }

        function initPaging() {
            $("#div_restaurants").on("click", ".pagination-bx a", function (e) {
                e.preventDefault();
                var $a = $(this).attr("href");
                try {
                    var pageurl = $a.split(/=/);
                    page = pageurl[1];
                    if (page == null) {
                        page = 1;
                    }
                }
                catch (e) {
                    page = 1;
                }
                LoadMainList();
            });
        }

        function LoadMainList() {

            $.ajax({
                cache: false,
                url: '@Url.Action("GetAllPopularRestaurants", "Restaurant")',
                data: {
                    page: page, pageSize: pagesize, q: q
                },
                beforeSend: function () {
                    $('#div_restaurants').empty().append('<div class="loading text-center"><div class= "spinner-border" role = "status"></div><div class= "text-muted" > loading...</div></div>');

                },
                success: function (data) {
                    $("#title").removeAttr("hidden");
                    $('#div_restaurants').empty().append(data);
                    $(".pagination li").addClass("page-item");
                    $(".pagination span").addClass("page-link");
                    $(".pagination a").addClass("page-link");


                },
                complete: function () {

                }

            });
        }
        function LoadMostPopularRestaurants() {
            $.ajax({
                cache: false,
                url: '@Url.Action("GetMostPopularRestaurants", "Restaurant")',
                data: {

                },
                beforeSend: function () {
                    $('#div_popular_restaurants').empty().append('<div class="loading text-center"><div class= "spinner-border" role = "status"></div><div class= "text-muted" > loading...</div></div>');

                },
                success: function (data) {
                    $('#div_popular_restaurants').empty().append(data);

                }
            });
        }


        function LoadNewestRestaurants() {
            $.ajax({
                cache: false,
                    url: '@Url.Action("GetNewestRestaurants", "Restaurant")',
                data: {

                },
                beforeSend: function () {
                    $('#div_new_restaurants').empty().append('<div class="loading text-center"><div class= "spinner-border" role = "status"></div><div class= "text-muted" > loading...</div></div>');

                },
                success: function (data) {
                    $('#div_new_restaurants').empty().append(data);

                }
            });
        }


       

        function ViewAllPopularRestaurants(){
            location.href = '../Restaurant/ViewAllPopularRestaurants';
        }

        function ViewAllNewRestaurants(){
            location.href = '../Restaurant/ViewAllNewRestaurants';
        }


        function Reserve(id){
            location.href = '../Customer/Reserve/' + id;
        }

        


   </script>
}