@{
    ViewData["Title"] = "Reserve Page";
}

<div>
    <h2>Restaurant Name</h2>
    <div class="row mt-3">
        <div class="col-12 col-md-8">
            <div class="image-container">
                <img class="cover-img" src="~/img/cover photo.png" alt="Restaurant_Cover" />
            </div>

            <div class="mt-5">
                <!-- Nav -->
                <div class="mt-5 text-center">
                    <ul class="nav nav-segment nav-pills mb-7" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="nav-menu" data-bs-toggle="pill" aria-selected="true" onclick="LoadMenu()">MENU</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="nav-about" data-bs-toggle="pill" aria-selected="false" onclick="LoadAbout()">ABOUT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="nav-reviews" data-bs-toggle="pill" aria-selected="false" onclick="LoadReviews()">REVIEWS</a>
                        </li>
                    </ul>
                </div>
                <!-- End Nav -->
                <!-- Tab Content -->
                <div class="tab-content">
                    <div class="tab-pane fade show active" role="tabpanel" id="div_tab_content">

                    </div>
                </div>
                <!-- End Tab Content -->
            </div>

        </div>
        <div class="col-12 col-md-4">
            <h3>Reservation Information</h3>
            <form>
                <div class="mb-3 pointer">
                    <label class="form-label" for="Date">Date</label>
                    <input type="date" id="Date" class="form-control" required>
                </div>

                <div class="row mb-3">
                    <label class="form-label" for="time">Time</label>
                    <div class="d-flex flex-row flex-wrap gap-3">
                        <div class="">
                            <!-- Form Radio -->
                            <label class="form-control" for="time1">
                                <span class="form-check">
                                    <input type="radio" class="form-check-input" name="time" id="time1">
                                    <span class="form-check-label">12:00 PM</span>
                                </span>
                            </label>
                            <!-- End Form Radio -->
                        </div>

                        <div class="">
                            <!-- Form Radio -->
                            <label class="form-control" for="time2">
                                <span class="form-check">
                                    <input type="radio" class="form-check-input" name="time" id="time2">
                                    <span class="form-check-label">12:30 PM</span>
                                </span>
                            </label>
                            <!-- End Form Radio -->
                        </div>

                        <div class="">
                            <!-- Form Radio -->
                            <label class="form-control" for="time3">
                                <span class="form-check">
                                    <input type="radio" class="form-check-input" name="time" id="time3">
                                    <span class="form-check-label">1:00 PM</span>
                                </span>
                            </label>
                            <!-- End Form Radio -->
                        </div>
                        <div class="">
                            <!-- Form Radio -->
                            <label class="form-control" for="time4">
                                <span class="form-check">
                                    <input type="radio" class="form-check-input" name="time" id="time4">
                                    <span class="form-check-label">1:30 PM</span>
                                </span>
                            </label>
                            <!-- End Form Radio -->
                        </div>
                    </div>

                </div>
                <div class="mb-3">
                    <label class="form-label" for="Person">5 tables available at this time.</label>
                    <input type="number" id="Person" class="form-control" min="1" max="10" placeholder="Choose table(4 person per table)" required>
                </div>
                <!-- End Row -->

                <h5>Customer Information</h5>
                <div class="my-3">

                    <input type="text" id="Name" class="form-control" placeholder="Name" required>
                </div>
                <div class="mb-3">

                    <input type="text" id="Email" class="form-control" placeholder="Email" required>
                </div>
                <div class="mb-3">

                    <input type="text" id="Phone" class="form-control" placeholder="Phone" required>
                </div>

                <div class="d-flex flex-fill" data-bs-toggle="modal" data-bs-target="#reviewreserve">
                    <button type="submit" class="btn btn-primary btn-sm w-100">Review Reserve</button>
                </div>
            </form>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="reviewreserve" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Review Reservation</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h4>Restaurant Name</h4>
                        <div class="d-flex justify-content-between mb-2">
                            <span>Date: </span>
                            <span class="text-black">23 Sep 2024</span>
                        </div>
                        <div class="d-flex justify-content-between mb-2">
                            <span>Time: </span>
                            <span class="text-black">2:00 PM</span>
                        </div>
                        <div class="d-flex justify-content-between mb-2">
                            <span>Table count: </span>
                            <span class="text-black">4</span>
                        </div>
                        <h5 class="mt-3">Customer Information</h5>
                        <div class="d-flex flex-column">
                            <span>Auton Auora</span>
                            <span>austonauora88@gmail.com</span>
                            <span>0908765544</span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white btn-sm" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary btn-sm">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Modal -->
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        function LoadMenu() {
            $.ajax({
                cache: false,
                url: '@Url.Action("LoadMenu", "Customer")',
                data: {

                },
                beforeSend: function () {
                    $('#div_tab_content').empty().append('<div class="loading text-center"><div class= "spinner-border" role = "status"></div><div class= "text-muted" > loading...</div></div>');

                },
                success: function (data) {
                    $('#div_tab_content').empty().append(data);

                }
            });
        }
        function LoadAbout() {
            $.ajax({
                cache: false,
                url: '@Url.Action("LoadAbout", "Customer")',
                data: {

                },
                beforeSend: function () {
                    $('#div_tab_content').empty().append('<div class="loading text-center"><div class= "spinner-border" role = "status"></div><div class= "text-muted" > loading...</div></div>');

                },
                success: function (data) {
                    $('#div_tab_content').empty().append(data);

                }
            });
        }
        function LoadReviews() {
            $.ajax({
                cache: false,
                url: '@Url.Action("LoadReviews", "Customer")',
                data: {

                },
                beforeSend: function () {
                    $('#div_tab_content').empty().append('<div class="loading text-center"><div class= "spinner-border" role = "status"></div><div class= "text-muted" > loading...</div></div>');

                },
                success: function (data) {
                    $('#div_tab_content').empty().append(data);

                }
            });
        }


    </script>
}