@using Data.Constants
@{
    ViewData["Title"] = "Login Page";
    Layout = "_PlainLayout";
    var userType = UserType.Customer;
}

<div class="row justify-content-center">
    <div class="col-12 col-md-5 custom-container border">
        <div class="w-100">
            <img class="w-100 img-fluid" src="~/img/LOGO-white.png" />
        </div>

        <h2 class="my-5">Welcome to TableTalk!</h2>
        <form class="js-validate needs-validation loginform">
            <!-- Input Group -->
            <div class="mb-3">
                <label for="inputGroupMergeEmail" class="form-label">Email</label>

                <div class="input-group input-group-merge">
                    <div class="input-group-prepend input-group-text" id="email">
                        <i class="bi-envelope-open"></i>
                    </div>
                    <input type="text" class="form-control" id="txt-email" placeholder="mark@example.com" required>
                </div>
            </div>
            <!-- End Input Group -->
            <!-- Input Group -->
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>

                <div class="input-group input-group-merge">
                    <div class="input-group-prepend input-group-text" id="password">
                        <i class="bi-lock"></i>
                    </div>
                    <input type="password" class="form-control" id="txt-password" placeholder="***" required>
                    <i class="bi-eye-slash form-suffix-icon" id="togglePassword"></i>
                </div>
            </div>
            <!-- End Input Group -->
            <div class="d-grid mb-3">
                <button type="submit" class="btn btn-primary btn-lg">Login</button>
            </div>
        </form>

        <div class="text-start">
            <p>Don't have an account? <a class="link" href="">Signup here</a></p>
        </div>

    </div>
</div>

@section scripts{
    <script>
        var userType = "@userType";
         $(function () {
           
            $('.loginform').on('keydown', 'input', function (e) {
                if (e.keyCode === 13) {
                    $('.btnlogin').click();
                }
            });

            login();
            PasswordToggle();
        })


        function login() {
            $('.loginform').submit(function (e) {

                e.preventDefault();
                var data = {
                    "Email": $('#txt-email').val(),
                    "Password": $('#txt-password').val(),
                    "UserType": userType
                }
                $.ajax({
                    cache: false,
                    url: "../authentication/Login",
                    type: "Post",
                    data: data,
                    beforeSend: function () {
                        $('.btn').prop('disabled', true);
                    },
                    success: function (response) {

                        if (response == "@ResponseStatus.Success") {
                            window.location = "../Customer/Index";
                        }
                        else {
                            $('.btn').prop('disabled', false);
                            alert("Wrong username or password");
                        }
                    },
                    complete: function () {
                        $('.btn').prop("disabled", false);
                    }
                });
            });


        }

        function PasswordToggle() {
            const togglePassword = document.querySelector('#togglePassword');
            const password = document.querySelector('#txt-password');

            togglePassword.addEventListener('click', function (e) {
                // toggle the type attribute
                const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
                password.setAttribute('type', type);
                // toggle the eye slash icon
                this.classList.toggle('bi-eye');
            });
        }

    </script>
}