@{
    ViewData["Title"] = "My Bookings";
}

<div class="row mt-5">
    <h2>My Bookings</h2>
    <!-- My Booking List Card Start -->
    <div class="row border rounded mt-3 py-3">
        <div class="col-12 col-md-3">
            <div class="mb-3">
                <img class="img-fluid" src="~/img/cover photo.png" alt="Image" />
            </div>
        </div>
        <div class="col-12 col-md-9">
            <div class="d-flex flex-column gap-3">
                <div class="d-flex justify-content-between align-items-center">
                    <h4>Restaurant Name</h4>
                    <span class="badge bg-soft-success text-success">Booked</span>
                </div>
                <div class="d-flex gap-3">
                    <span class="badge bg-soft-primary text-primary">23 Sep 2024</span>
                    <span class="badge bg-soft-primary text-primary">1:00 PM</span>
                    <span class="badge bg-soft-primary text-primary">3 person(s)</span>
                </div>
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-wrap gap-3">
                        <span>Johnnathan</span>
                        <span>johnnathan@gmail.com</span>
                        <span>09876543212</span>
                    </div>
                    <div>
                        <button type="button" class="btn btn-sm btn-white" data-bs-toggle="modal" data-bs-target="#bookingCancelModal">Cancel</button>
                    </div>
                    
                </div>
            </div>
           
        </div>
       
    </div>
    <!-- My Booking List Card End -->

    <!-- My Booking List Card Start -->
    <div class="row border rounded mt-3 py-3">
        <div class="col-12 col-md-3">
            <div class="mb-3">
                <img class="img-fluid" src="~/img/cover photo.png" alt="Image" />
            </div>
        </div>
        <div class="col-12 col-md-9">
            <div class="d-flex flex-column gap-3">
                <div class="d-flex justify-content-between align-items-center">
                    <h4>Restaurant Name</h4>
                    <span class="badge bg-soft-secondary text-secondary">Finished</span>
                </div>
                <div class="d-flex gap-3">
                    <span class="badge bg-soft-primary text-primary">23 Sep 2024</span>
                    <span class="badge bg-soft-primary text-primary">1:00 PM</span>
                    <span class="badge bg-soft-primary text-primary">3 person(s)</span>
                </div>
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-wrap gap-3">
                        <span>Johnnathan</span>
                        <span>johnnathan@gmail.com</span>
                        <span>09876543212</span>
                    </div>
                    @* <div>
                        <button type="button" class="btn btn-sm btn-white">Cancel</button>
                    </div> *@

                </div>
            </div>

        </div>

    </div>
    <!-- My Booking List Card End -->
</div>

<!-- Modal -->
<div id="bookingCancelModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="bookingCancelModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Booking Cancellation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure to cancel this booking?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Yes, Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- End Modal -->