

.active{
    font-weight: bold;
}

.background-img{
    background-image: url(../img/search_background.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: .5rem;
}


.cover-img{
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
}


.pointer{
    cursor: pointer;
}

.custom-container{
    padding: 1rem;
    border-radius: 1rem;
}

tr td,th{
    line-height: 40px !important;
}