@{
    ViewData["Title"] = "Restaurant Bookings";
}

<div class="mt-5">
    <h3>Booking List</h3>
    <div class="mt-3" style="height: 70vh;">
        <!-- Table -->
        <table id="example" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Time</th>
                    <th>Date</th>
                    <th>Table</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Tiger Nixon</td>
                    <td>0987654321</td>
                    <td>12:00 PM - 1:00 PM</td>
                    <td>22 Oct 2024</td>
                    <td>2</td>
                    <td><button type="button" class="btn btn-xs btn-primary">Finish</button></td>
                </tr>
                <tr>
                    <td>Tiger Nixon</td>
                    <td>0987654321</td>
                    <td>12:00 PM - 1:00 PM</td>
                    <td>22 Oct 2024</td>
                    <td>2</td>
                    <td><button type="button" class="btn btn-xs btn-primary">Finish</button></td>
                </tr>
                <tr>
                    <td>Tiger Nixon</td>
                    <td>0987654321</td>
                    <td>12:00 PM - 1:00 PM</td>
                    <td>22 Oct 2024</td>
                    <td>2</td>
                    <td><button type="button" class="btn btn-xs btn-primary">Finish</button></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Time</th>
                    <th>Date</th>
                    <th>Table</th>
                    <th>Action</th>
                </tr>
            </tfoot>
        </table>
        <!-- End Table -->
    </div>
</div>
