@model Data.Models.tbRestaurant

<div id="div_about">
    <h4>Address</h4>
    <p>@Model.Location</p>
    <h4>Phone</h4>
    <p>@Model.Phone</p>
    <h4>Opening Time</h4>
    <p>@Model.OpenTime</p>
    <h4>About</h4>
    <p>@Model.CloseTime</p>
</div>