

<div id="div_menu">

    <button type="button" class="mb-5 btn btn-primary btn-sm" data-bs-toggle="modal" onclick="AddMenu()">
        Add New
        <i class="bi-plus ms-1"></i>
    </button>
    <!-- Start Menu List -->
    <div id="div_menu_list">

    </div>
    <!-- End Menu List -->
    <!-- Add New Menu Modal -->
    <div class="modal fade" id="MenuFormModal" tabindex="-1" role="dialog" aria-labelledby="addNewModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div id="div_menu_form"></div>
            </div>
        </div>
    </div>
    <!-- End Modal -->

</div>

