@using Data.Constants
@{
    ViewData["Title"] = "Restaurant Bookings";
}


<div class="mt-5">
    <h3>Booking List</h3>
    <div id="div-restaurant-bookings">
        
    </div>
   
</div>
@section scripts {
    <script type="text/javascript">
        var page = 1;
        var pagesize = 9;
        var q;
        $(function () {
            initPaging();
            LoadMainList();
        });

        function initPaging() {
            $("#div-restaurant-bookings").on("click", ".pagination-bx a", function (e) {
                e.preventDefault();
                var $a = $(this).attr("href");
                try {
                    var pageurl = $a.split(/=/);
                    page = pageurl[1];
                    if (page == null) {
                        page = 1;
                    }
                }
                catch (e) {
                    page = 1;
                }
                LoadMainList();
            });
        }

        function LoadMainList() {

            $.ajax({
                cache: false,
                url: '@Url.Action("GetList", "Booking")',
                data: {
                    userType: '@UserType.Restaurant', page: page, pageSize: pagesize, q: q
                },
                beforeSend: function () {
                    $('#div-restaurant-bookings').empty().append('<div class="loading text-center"><div class= "spinner-border" role = "status"></div><div class= "text-muted" > loading...</div></div>');

                },
                success: function (data) {

                    $('#div-restaurant-bookings').empty().append(data);
                    $(".pagination li").addClass("page-item");
                    $(".pagination span").addClass("page-link");
                    $(".pagination a").addClass("page-link");


                },
                complete: function () {

                }

            });
        }
    </script>
}